body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.input-box {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}

.hidden {
    display: none;
}